appdirs
aria2p>=0.3.0,<0.10.0
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
psutil
pybase64
https://github.com/pyrogram/pyrogram/archive/29701a3a55b00b127c0588791c8dbc4d092bc8a6.zip
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
